{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptas reiciendis debitis dignissimos a sequi 
        asperiores iusto ex alias iure dolores, eius non ab quisquam neque eligendi tenetur expedita eaque? Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Repellat, porro eius ipsam illo blanditiis, similique iste nemo soluta 
        error veniam suscipit, iure ex dicta inventore eum unde aut odio modi!
    </p>
{% endblock %}